<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question, 'Frage' %><br>
    <%= f.text_area :question %>
  </div>
  <div class="field">
    <%= f.label :answer_1, 'Antwort 1' %><br>
    <%= f.text_field :answer_1 %>
  </div>
  <div class="field">
    <%= f.label :answer_2, 'Antwort 2' %><br>
    <%= f.text_field :answer_2 %>
  </div>
  <div class="field">
    <%= f.label :answer_3, 'Antwort 3' %><br>
    <%= f.text_field :answer_3 %>
  </div>
  <div class="field">
    <%= f.label :answer_4, 'Antwort 4' %><br>
    <%= f.text_field :answer_4 %>
  </div>
  <div class="field">
    <%= f.label :answer_5, 'Antwort 5' %><br>
    <%= f.text_field :answer_5 %>
  </div>
  <div class="field">
    <%= f.label :solution, 'Loesungs-Code' %><br>
    <%= f.number_field :solution %>
  </div>
  <div class="field">
    <%= f.label :author_id, 'Author' %><br>
    <%= f.collection_select :author_id, User.order(:name).all, :id, :name%>
  </div>
  <div class="field">
    <%= f.label :area_id %><br>
    <%= f.collection_select :area_id, Area.order(:name).all, :id, :name%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
