<h1>Fragenkatalog</h1>
<h2>Insgesamt <%=@questions.count%> Fragen aus <%=@areas.count%> Bereichen</h2>

<table border="1">
  <thead>
    <tr>
      <th>Frage</th>
      <th>Antwort 1</th>
      <th>Antwort 2</th>
      <th>Antwort 3</th>
      <th>Antwort 4</th>
      <th>Antwort 5</th>
      <th>Loesung</th>
      <th>Ersteller</th>
      <th>Bereich</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.question %></td>
        <td><%= question.answer_1 %></td>
        <td><%= question.answer_2 %></td>
        <td><%= question.answer_3 %></td>
        <td><%= question.answer_4 %></td>
        <td><%= question.answer_5 %></td>
        <td><%= question.solution %></td>
        <td><%= User.find(question.author_id).name %></td>
        <td><%= Area.find(question.area_id).name %></td>
        <td><%= link_to(image_tag('show.png', :size => "30x30",:title => "Frage anzeigen"), question) %></td>
        <td><%= link_to(image_tag('edit.png', :size => "30x30",:title => "Frage bearbeiten"), edit_question_path(question)) %></td>
        <td><%= link_to(image_tag('del.png', :size => "30x30",:title => "Frage löschen"), question, method: :delete, data: { confirm: 'Sind Sie sicher?' }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to(image_tag('add.png', :size => "30x30",:title => "Neue Frage hinzufuegen"), new_question_path)%>
