<h1>Fragenkatalog</h1>
<h2>Insgesamt <%=@questions.count%> Fragen aus <%=@areas.count%> Bereichen</h2>

<table>
  <thead>
    <tr>
      <th>Frage</th>
      <th>Antwort 1</th>
      <th>Antwort 2</th>
      <th>Antwort 3</th>
      <th>Antwort 4</th>
      <th>Antwort 5</th>
      <th>Loesung</th>
      <th>Ersteller</th>
      <th>Abteilung</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.question %></td>
        <td><%= question.answer_1 %></td>
        <td><%= question.answer_2 %></td>
        <td><%= question.answer_3 %></td>
        <td><%= question.answer_4 %></td>
        <td><%= question.answer_5 %></td>
        <td><%= question.solution %></td>
        <td><%= User.find(question.author_id).name %></td>
        <td><%= Area.find(question.area_id).name %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Frage hinzufuegen', new_question_path %>
