<p id="notice"><%= notice %></p>

<p>
  <strong>Frage:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Antwort 1:</strong>
  	<%= @question.answer_1 %>
  </span>
</p>

<p>
  <strong>Antwort 2:</strong>
  <%= @question.answer_2 %>
</p>

<p>
  <strong>Antwort 3:</strong>
  <%= @question.answer_3 %>
</p>

<p>
  <strong>Antwort 4:</strong>
  <%= @question.answer_4 %>
</p>

<p>
  <strong>Antwort 5:</strong>
  <%= @question.answer_5 %>
</p>

<p>
  <strong>Author:</strong>
  <%= @question.author_id %>
</p>

<p>
  <strong>Area:</strong>
  <%= @question.area_id %>
</p>

<%= link_to(image_tag('edit.png', :size => "30x30",:title => "Frage bearbeiten"), edit_question_path(@question)) %> |
<%= link_to(image_tag('back.png', :size => "30x30",:title => "zurück"), questions_path) %>
