<h1>Benutzer</h1>

<table>
  <thead>
    <tr>
      <th>Anrede</th>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Bild</th>
      <th>Email</th>
      <th>Abteilung</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.salutation %></td>
        <td><%= user.first_name %></td>
        <td><%= user.name %></td>
        <% if user.image.nil? %>
        <td></td>
        <% else %>
        <td align="center"><%= image_tag("#{user.image}", :size => "50x50") %></td>
        <% end %>
        <td><%= user.email %></td>
        <td><%= user.department_id %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuen Benutzer anlegen', new_user_path %>
