<%= form_for(@area) do |f| %>
  <% if @area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
      <% @area.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name,'Name' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :short_name,'Abt.Kuerzel' %><br>
    <%= f.text_field :short_name %>
  </div>
  <div class="field">
    <%= f.label :description,'Bezeichnung' %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :area_admin_id,'Abt.Leiter' %><br>
    <%= f.collection_select :area_admin_id, User.order(:name).all, :id, :name%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
