# coding: utf-8
<h1>Fragenkataloge</h1>

<table border="1">
  <thead>
    <tr>
      <th>Aktion</th>
      <th>Name</th>
      <th>Abt.Kuerzel</th>
      <th>Beschreibung</th>
    </tr>
  </thead>

  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td>
        	<%= link_to(image_tag('show.png', :size => "30x30",:title => "Fragenkatalog anzeigen"), area) %>
        	<%= link_to(image_tag('edit.png', :size => "30x30",:title => "Fragenkatalog bearbeiten"), edit_area_path(area)) %>
        	<%= link_to(image_tag('del.png', :size => "30x30",:title => "Fragenkatalog löschen"), area, method: :delete, data: { confirm: 'Sind Sie sicher?' }) %>
        </td>
        <td><%= area.name %></td>
        <td><%= area.short_name %></td>
        <td><%= area.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to(image_tag('add.png', :size => "30x30",:title => "Neuen Fragenkatalog hinzufügen"), new_area_path)%>
