# coding: utf-8
<h1>Fragenkataloge</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Abt.Kuerzel</th>
      <th>Beschreibung</th>
      <th>Katalog-Admin</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= area.name %></td>
        <td><%= area.short_name %></td>
        <td><%= area.description %></td>
        <td><%= User.find(area.area_admin_id).name %></td>
        <td><%= link_to 'Show', area %></td>
        <td><%= link_to 'Edit', edit_area_path(area) %></td>
        <td><%= link_to 'Destroy', area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Abteilung hinzufuegen', new_area_path %>
