<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @area.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @area.short_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @area.description %>
</p>

<p>
  <strong>Area admin:</strong>
  <%= @area.area_admin_id %>
</p>




<%= link_to(image_tag('edit.png', :size => "30x30",:title => "Fragenkatalog bearbeiten"),  edit_area_path(@area)) %> |
<%= link_to(image_tag('back.png', :size => "30x30",:title => "zurück"), areas_path) %>