<%= form_for(@test) do |f| %>
  <% if @test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test.errors.count, "Fehler") %> prohibited this test from being saved:</h2>
      <ul>
      <% @test.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

Beschreibung

<%#= render :partial => 'questions/quest' %>


<% @questions.each do |question|%>
  <%= render 'questions/form', :question => @question %>
<% end %>






  <%= f.hidden_field :user_id %>
  <div class="actions">
    <%= f.submit 'Pruefung absenden' %>
  </div>
<% end %>
