<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @test.user_id %>
</p>

<p>
  <strong>Passed:</strong>
  <%= @test.passed %>
</p>

<p>
  <strong>Area:</strong>
  <%= @test.area_id %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
